{% render 'partials/head.liquid' %}
</header>


<h1 style="justify-self: center;">Oops! deze pagina kan nu niet gevonden worden</h1>
<a class="homeInsLink" href="/instrumenten">Ga terug naar het overzicht</a>
<div style="justify-content: center; display: flex;">
    <img src="https://httpducks.com/404.jpg" style="width: 400px; height: auto;">
</div>


{% render 'partials/foot.liquid' %}